@import '~@fluentui/react/dist/sass/References.scss';

.calender {
  .heading {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-family: var(--fontFamilyCustomFont500,var(--fontFamilyBase));
    font-size: 48px;
    line-height: 72px;
    text-align: left;
    color: #000000;
    margin-bottom: 28px;

  }
  .border{
    border: 1px solid rgba(102, 102, 102, 1);
    border-collapse: collapse;
    border-radius: 12px;
    
   .borderbox{
    margin: 5px;
      max-height: 6em;
      min-height: 4em;
      overflow-y: auto;
      display: flex;
    flex-direction: column;
    }
    div.flex{
      align-items: center;
      padding: 7.5px ;
      .dateleft{
        padding-right: 20px;
        border-right:1px solid rgba(168, 168, 168, 1) ;
        font-family: var(--fontFamilyCustomFont300,var(--fontFamilyBase));
        font-size: 20px;
        line-height: 30px;
        color: #000000;
        min-width: 70px;
        flex: none;
      }
      .meetingdetail{
        padding: 0 0px 0 20px;
        flex-grow: 1;
        display: flex;
        gap: 20px;
        align-items: center;
        color: #000000;
        justify-content: space-between;
        .eventdsc{
          font-family: var(--fontFamilyCustomFont600,var(--fontFamilyBase));
          font-size: 12px;
          line-height: 18px;
          font-weight: 600;
        }
        .eventdatetime{
          font-family: var(--fontFamilyCustomFont500,var(--fontFamilyBase));
          font-size: 12px;
          margin-top: 8px;
          line-height: 18px;
        }
        .meetinglink{
          color: white;
          background: #0071CE;
          padding: 9px 18px;
          border-radius: 50px;
          font-weight: 700;
          font-size: 12px;
          a{
            color: white;
            text-decoration: none;
            font-family: var(--fontFamilyCustomFont600,var(--fontFamilyBase));
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
    }
    
  }

  div.flex {
    display: flex;
  }
  .fadebg {
    padding: 30px 20px 30px 5px;
    width: 25%;
    border-right: 1px solid #c9c9c9;
    
  }
  .rightcnt {
    padding: 30px 20px 20px 9px;
    width: 50%;
  }
  .recurr{
    font-size:small;
    font-weight: bold;
  } 
  .subject{
    border: 1px solid #000000;
    border-collapse: collapse;
    text-align: center;
    background-color:$ms-color-themePrimary;
    border-radius: 1em;
  } 
  .calendarwrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
    div.customdatepicker{
      width: 100%;
      box-shadow: none;
      border: 1px solid rgba(102, 102, 102, 1);
      border-radius: 12px;
      box-sizing: border-box;
      > div{
        width: 100%;
        > div{
          width: 100%;
          padding: 20px 15px;
          > div 
          {
            div{
              span{
                font-size: 18px;
              }
            }
            > div{
              width: 100%;
              >div{
                width: 100%;
                > div{
                  div{
                    font-size: 18px;
                  }
                }
              }
          }
        
           
          }
        }
      }
    }
  }
}
