@import '~@fluentui/react/dist/sass/References.scss';

.calender {
  .tableClass {
    border: 1px solid #ddd;
    width: 100%;
    border-collapse: collapse;
    background-color: #f2f2f2;
  }
    
    .tbody {
      width: 100%;
      border-collapse: collapse;
    }

    .td1 {
      border: 1px solid #000000;
      padding: "8px";
      width: "5px";
      border-collapse: collapse;
      text-align: left;
      color: #000000;
    }
    .td2 {
      border: 1px solid #000000;
      padding: "8px";
      width: "1em";
      border-collapse: collapse;
      text-align: left;
      color: #000000;
    }
  
  
}
