@import '~@fluentui/react/dist/sass/References.scss';

.finderWp {
  overflow: hidden;
  // padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.button {
  // background-color: rgb(57, 152, 175);
  border: 1px solid rgba(194, 187, 187, 0.774);
  border-radius: 15px;
  color: #070606;
  cursor: pointer;
  background-color: white;
  margin: 5px;
  /* padding: 10px; */
  height: 100px;
  width: 31%;
  font-weight: bold;
}

.buttonDiv {
  width: 100%;

  .buttongrid {
    padding-left: 0px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;

    button {
      background-color: #ecf6ff;
      border: 1px solid #6d6e71;
      padding: 20px;
      height: 114px;
      border-radius: 20px;
      width: auto;
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      color: black;
      transition: all ease-in-out .25s;

      &:hover {
        background: #0071CE;
        border-color: #0071CE;
        color: white;

        i {
          color: white;
        }
      }

      i {
        font-size: 25px;
        margin: 0px 20px 0 0;
        color: #0071CE;
      }
    }
  }
}

.button:hover {
  background-color: #0071CE;
  /* Change this to the desired hover color */
  color: white;
}

.borderBox {
  // border: 1px solid rgba(194, 187, 187, 0.774);
  padding: 20px;
  // box-shadow: 0 2.6px 5.6px 0 #8a8a8a, 0 0.3px 0.9px 0 #8a8a8a;
}

.doclibraryHeading {
  color: black;
  font-family: var(--fontFamilyCustomFont500, var(--FontFamilyBase));
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  text-align: left;
  margin-bottom: 10px;


}

.breadcrumpHeading {
  font-size: medium;
  color: #5b915b;
  font-family: var(--fontFamilyCustomFont600, var(--FontFamilyBase));
}

.breadCrumbDiv {
  width: 100%;
  margin-left: 5%;
}

.searchbox {
  border-radius: 100px;
  height: 60px;
  border: 1px solid #6d6e71;
  background: transparent;
  font-family: var(--fontFamilyCustomFont600, var(--FontFamilyBase));

  &::placeholder {
    color: #6d6e71;
  }
}

.tableContainer {
  max-height: 300px;
  /* Set your desired max height here */
  overflow-y: auto;
  // margin-left: 5%;
  font-family: var(--fontFamilyCustomFont600, var(--FontFamilyBase));
}

.tableDiv {
  width: 100%;
  margin-left: 5%;
  /* Ensure the table takes the full width of the container */
}

.searchItemDiv {
  font-family: var(--fontFamilyCustomFont600, var(--FontFamilyBase));
  margin-left: 5%;
}

.noItems {
  margin: 6%;
  padding-left: 40%;
}

.tableIconColumn {
  width: 3%
}

.breadCrumbStyle {
  cursor: pointer;
}