@import '~@fluentui/react/dist/sass/References.scss';

.finderWp {
  overflow: hidden;
  // padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.button {
  // background-color: rgb(57, 152, 175);
  border: 1px solid rgba(194, 187, 187, 0.774);
  border-radius: 15px;
  color: #070606;
  cursor: pointer;
  background-color: white;
  margin: 5px;
  /* padding: 10px; */
  height: 100px;
  width: 31%;
  font-weight: bold;
}

.buttonDiv {
  width: 100%;
}

.button:hover {
  background-color: #0071CE;
  /* Change this to the desired hover color */
  color: white;
}

.borderBox {
  // border: 1px solid rgba(194, 187, 187, 0.774);
  padding: 20px;
  // box-shadow: 0 2.6px 5.6px 0 #8a8a8a, 0 0.3px 0.9px 0 #8a8a8a;
}

.doclibraryHeading {
  font-size: xx-large;
  font-weight: bold;
  color: black;
  margin-left: 5%;
}

.breadcrumpHeading {
  font-size: medium;
  color: #5b915b;

}

.breadCrumbDiv {
  width: 100%;
  margin-left: 5%;
}

.searchbox {
  border-radius: 25px;
  height: 40px;
  width: 93%;
  margin-left: 5%;
}

.tableDiv {
  margin-left: 5%;
}

.noItems {
  margin: 6%;
  padding-left: 40%;
}