@import '~@fluentui/react/dist/sass/References.scss';

.zmiFooter {
  .msGrid {
    @include ms-Grid;
  }

  .msRow {
    @include ms-Grid-row;
    margin: 0px;
  }

  .msCol {
    @include ms-Grid-col;
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100%
  }

  .footerbg {
    background-color: #101C4E;
    padding: 40px 20px;

    .footercntnt {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .itemstyle {
        display: flex;
        gap: 20px;
        a {
          font-size: 18px;
          line-height: 21px;
          text-transform: uppercase;
          color: white;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .companylogo {
      width: 168px;

      a {
        display: block;

        img {
          max-width: 100%;

        }
      }

    }
    .footerright{
      display: flex;
      align-items: center;
      gap: 20px;
      .linkedinLogo {
        width: 100px;
  
        a {
          display: block;
  
          img {
            max-width: 100%;
          }
        }
      }
      .editftr{
        color:#3797e4;
      }
    }
    
  }



}